# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
# IntelliJ / Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/

# Logs, environment, temp files
*.log
*.env
